@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');

* {margin: 0; border: 1px solid black; padding: 0;
  box-sizing: border-box;
  line-height: 1.25;
  }

html{}

body{}

nav{}

div{}

h1, h2, h3, h4, h5, h6 {font-family: 'Merriweather', serif;}

h1{font-size: 400%;}
h2{font-size: 300%;}
h3{font-size: 200%;}
h4{font-size: 100%;}
h5{font-size: 88%;}
h6{font-size: 74%;}

p {
  color: #070704;
  font-size: 1em;
  font-family: 'Source Sans Pro', sans-serif;
}


