/* Color Themes

  #CCCD43 lichen - midnight #471180
  #F2AE2E cantaloupe - blue #0049A6
  #F2620F orange - turquoise #00A6A5
  #D92E1E blood orange - swamp #008C3E
  #262626 eggplant - rhino #5C7362

*/

* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  color: #262626;
}

html {
  background-color: #FFFFFF;
  font-size: 1em;
}

body {
  margin: 0 auto;
  max-width: 63rem;
  min-height: 111vh;
}

p, .navprime, .navprime ul, .navprime ul li, .navprime ul li a, {
  font-family: 'Roboto Mono', monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Vollkorn', serif;
}

main {
  padding-left: 2rem;
  padding-right: 2rem;
}

a {
  outline: none;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-underline-offset: 0.11rem;
}

a:link, a:visited {
  color: #0049A6;
}

a:focus, a:hover, a:active{
  color: #0069F2;
}

h1, h2, h3, h4, h5, h6 {
  padding-top: 1rem;
  color: #262626;
  line-height: 1.33;
}

h1, h2, h3 {
  font-weight: 600;
}

h4, h5, h6 {
  font-weight: 400;
}

h1 {
  font-size: 255%;
}

h2 {
  font-size: 222%;
}

h3 {
  font-size: 177%;
}

h4 {
  font-size: 177%;
}

h5 {
  font-size: 177%;
}

h6 {
  font-size: 177%;
}

p {
  color: #262626;
  font-size: 0.93rem;
  padding-top: 0.22rem;
  padding-bottom: 0.88rem;
  line-height: 1.71;
  font-weight: 300;
}

img {
  max-width: 100%;
  overflow: hidden;
}

.sctnspn {
  padding: 1rem;
  text-align: left;
}

.sctnspn span{
  font-family: 'Mali', cursive;
  font-size: 2.55rem;
  font-weight: 200;
  color: #262626;
  letter-spacing: 0.93rem;
  padding: 1rem;
}

.navprime {

}

.navprime ul {
  list-style: none inside;
  padding: 0.88rem 2rem;
  font-weight: 400; 
}

.navprime ul li {
  display: inline-block;
  margin: 0.33rem;
  padding: 0.22rem;
  font-size: 1.33rem;
}

.navprime ul li a {
  font-size: 1.33rem;
  text-decoration-line: none;
}


.recentposts {
  padding: 0.88rem 2rem;
}

.recentposts h1{
  font-family: 'Roboto Mono', monospace;
  font-size: 1.33rem;
  font-weight: 700;
}

.recentposts ul {
  font-weight: 300;
  list-style: none inside;
  line-height: 1.88;
}

.recentposts ul li::before {
  content: "- ";
}

.recentposts ul li:hover::before {
  content: "+ ";
}

.recentposts ul li {
}
