@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');

* {margin: 0; border: 0; padding: 0;
  box-sizing: border-box;
  line-height: 1.22;
  }

html, body {min-height: 100vh}

body{padding: .99em}

nav{}

div{}

section{}

h1, h2, h3, h4, h5, h6 {padding: .33em; font-family: 'Merriweather', serif;}

h1{font-size: 444%;}
h2{font-size: 333%;}
h3{font-size: 222%;}
h4{font-size: 100%;}
h5{font-size: 88%;}
h6{font-size: 74%;}

p {
  padding: 0.99em;
  color: #070704;
  font-size: 222%;
  font-family: 'Source Sans Pro', sans-serif;
}

ul {
  list-style: none inside
}

ul li::before {
  content: "~ ";
  font-size: 222%;
}

li {padding-left: 1em;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
}

